{
  "Prisma": {
    "Host": "34.126.154.236",
    "Port": 3306,
    "Username": "maianh",
    "Password": "dai",
    "DbName": "PhoneStore"
  },
  "Jwt": {
    "Key": "tfnc1hdcomy1ogocgqev",
    "Issuer": "http://localhost:4000/",
    "Audience": "*"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
